{% extends "@ezdesign/document.html.twig" %}
{% block content %}
    <header class="page-header row">
        <span class="col-md">
            <a href="/"><img src="{{ asset("/assets/images/logo.jpg") }}" class="img-fluid" alt="NCC logo"></a>
        </span>
        <h1 class="col-md text-right">
            {{ ez_content_name( content ) }}<br>
            <small>{{ ez_render_field(content, 'course_title') }}</small>
        </h1>
    </header>
    <article class="container" id="main-content">
        <h2>{{ 'Course Outline' | trans }}</h2>
        <section class="row my-3 border border-secondary">
            <h3 class="d-none">{{ 'Identification' | trans }}</h3>
            <table class="course-outline-header my-0 table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <strong>{{ 'Course Title' | trans }}</strong>
                        </td>
                        <td colspan="3">
                            {{ ez_render_field(content, 'course_title') }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font-weight-bold">{{ 'Course Number' | trans }}</span>
                            {{ ez_render_field(content, 'course_number') }}
                        </td>
                        <td>
                            <span class="font-weight-bold">{{ 'Lecture Hours'|trans }}</span>
                            {{ ez_render_field(content, 'lecture_hours') }}
                        </td>
                        <td>
                            <span class="font-weight-bold">{{ 'Lab Hours'|trans }}</span>
                            {{ ez_render_field(content, 'lab_hours') }}
                        </td>
                        <td>
                            <span class="font-weight-bold">{{ 'Credit'|trans }}</span>
                            {{ ez_render_field(content, 'credit_hours') }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <span class="font-weight-bold">
                                {{ 'Department'|trans }}
                            </span>
                        </td>
                        <td colspan="3">
                            {{ render_esi(controller('ez_content:viewAction', {locationId: departmentId, viewType: 'line'} )) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="font-weight-bold">
                                {{ 'Program'|trans }}
                            </span>
                        </td>
                        <td colspan="3">
                            {{ render_esi(controller('ez_content:viewAction', {locationId: programId, viewType: 'line'} )) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="row my-3 py-2 border border-secondary">
	    <div class="col">
                <h3>{{ 'Prerequisites' | trans }}</h3>
                {% if not ez_field_is_empty(content,'prerequisites') %}
                    <div class="row">
	                <div class="col">
                            <h4>{{ 'Prerequisites'|trans }}</h4>
                            {{ ez_render_field(content, 'prerequisites', { "template": _self }) }}
      		        </div>
                    </div>
		    <hr>
                {% endif %}
                {% if not ez_field_is_empty(content,'corequisites') %}
                    <div class="row">
	                <div class="col">
                            <h4>{{ 'Corequisites'|trans }}</h4>
                            {{ ez_render_field(content, 'corequisites') }}
                        </div>
                    </div>
                    <hr>
                {% endif %}
                {% if not ez_field_is_empty(content,'accuplacer') %}
                    <div class="row">
	                <div class="col">
                          <h4>{{ 'AccuPlacer'|trans }}</h4>
                          {{ ez_render_field(content, 'accuplacer') }}
			</div>
                    </div>
                    <hr>
                {% endif %}
                {% if not ez_field_is_empty(content,'prerequisites_corequisites_text') %}
                    <div class="row">
			<div class="col">
                            <h4>{{ 'Prerequisites / Corequisites'|trans }}</h4>
                            {{ ez_render_field(content, 'prerequisites_corequisites_text') }}
			</div>
                    </div>
                {% endif %}
	    </div>
        </section>
        <section class="row my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Entrance Skills'|trans }}</h3>
                {{ ez_render_field(content, 'entrance_skills') }}
            </div>
        </section>
        <section class="row my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Catalog Description'|trans }}</h3>
                {{ ez_render_field(content, 'catalog_description') }}
            </div>
        </section>
        <section class="row course-competencies my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Course Competencies'|trans }}</h3>
                {{ ez_render_field(content, 'course_competencies', { 'attr': { 'class': 'with-borders'}}) }}
		{% if not ez_field_is_empty(content,'course_competencies_text') %}
                    <br>
                    {{ ez_render_field(content, 'course_competencies_text') }}
		{% endif %}
            </div>
        </section>
        <section class="row course-outline my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Course Outline'|trans }}</h3>
                {{ ez_render_field(content, 'course_outline') }}
            </div>
        </section>
        <section class="row my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Performance Evaluation'|trans }}</h3>
                {{ ez_render_field(content, 'performance_evaluation') }}
            </div>
        </section>
        <section class="row my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Method of Instruction'|trans }}</h3>
                {{ ez_render_field(content, 'method_of_instruction') }}
            </div>
        </section>
        <section class="row my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Instructional Facilities'|trans }}</h3>
                {{ ez_render_field(content, 'instructional_facilities') }}
            </div>
        </section>
        <section class="row revision-history my-3 py-2 border border-secondary">
            <div class="col">
                <h3>{{ 'Revision History'|trans }}</h3>
                {{ ez_render_field(content, 'revision_history', { 'attr': { 'class': 'with-borders'}}) }}
            </div>
        </section>
    </article>
    <footer class="fixed-bottom page-footer row">
    </footer>
{% endblock %}

{% block ezobjectrelationlist_field %}
    {% if field.value.destinationContentIds|length() > 0 %}
        <ul class="list-unstyled">
            {% for courseLocationId in field.value.destinationContentIds %}
                <li class="d-inline">{{ render_esi(controller('ez_content:viewAction', {contentId: courseLocationId, viewType: 'embed-inline'} )) }}</li>
                {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
