{% extends "@ibexadesign/document.html.twig" %}
{% block content %}
    <article class="container syllabus">
        <section class="syllabus-header">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle text-center">
                            <img src="{{ asset("assets/images/ncc-logo.png") }}" class="img-fluid" style="height:125px" alt="NCC logo">
                        </th>
                        <th class="align-middle text-center">
                            <h1>
                                {{ ibexa_render_field(course, 'course_number') }} {{ ibexa_render_field(content, 'section') }}<br>
                                <small>{{ ibexa_render_field(course, 'course_title') }}</small><br>
                            </h1>
			</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            {{ 'Department' | trans }}
                        </th>
                        <td class="text-center">
                            {{ render_esi(controller('ibexa_content:viewAction', {locationId: departmentId, viewType: 'line'} )) }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Instructor' | trans }}
                        </th>
                        <td class="text-center">
                            {{ ibexa_render_field(content, 'instructor') }}
                        </td>
                    </tr>
			<th scope="row">
                            {{ 'Term and Year' | trans }}
                        </th>
			<td class="text-center">
                            {{ termAndYear }}
                        </th>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Rationale' | trans }}</h2>
                {{ ibexa_render_field(content, 'rationale') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Course Description' | trans }}</h2>
                {{ ibexa_render_field(course, 'catalog_description') }}
            </div>
        </section>
        <section class="course-competencies row my-3">
            <div class="col">
                <h2>{{ 'Course Competencies' | trans }}</h2>
                {{ ibexa_render_field(course, 'course_competencies', { 'attr': { 'class': 'with-borders'}}) }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Essential Questions' | trans }}</h2>
                {{ ibexa_render_field(content, 'essential_questions') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Required Materials:' | trans }}</h2>
                <h3>{{ 'Textbook(s):' | trans }}</h3>
                {% if not ibexa_field_is_empty(content,'textbooks') %}
                    {{ ibexa_render_field(content, 'textbooks') }}
                {% else %}
                    {{ 'None' | trans }}
                {% endif %}
                <h3>{{  'Other:' | trans }}</h3>
                {% if not ibexa_field_is_empty(content, 'other_required_materials') %}
                    {{ ibexa_render_field(content, 'other_required_materials') }}
                {% else %}
                    {{ 'None' | trans }}
                {% endif %}
                {% if not ibexa_field_is_empty(content,'supplemental_materials') %}
                    <h2>{{ 'Supplemental Materials' | trans }}</h2>
                    {{ ibexa_render_field(content, 'supplemental_materials') }}
                {% endif %}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Course Expectations' | trans }}</h2>
                {{ ibexa_render_field(content, 'course_expectations') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Grading' | trans }}</h2>
                {{ ibexa_render_field(content, 'grading') }}
                {{ ibexa_render_field(gradingScheme, 'body') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2 class="policies">{{ 'Available Support Services' | trans }}</h2>
                {{ ibexa_render_field(availableSupportServices, 'body') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2 class="policies">{{ 'College Policies' | trans }}</h2>
                {{ ibexa_render_field(collegePolicies, 'body') }}
            </div>
        </section>
        <section class="course-calendar row my-3">
            <div class="col">
                <h2 class="text-center" style="text-decoration:underline;">
                    {{ 'Course Outline' | trans }}
                </h2>
                {% if not ibexa_field_is_empty(content,'course_outline_matrix') %}
                    {{ ibexa_render_field(content, 'course_outline_matrix', { 'attr': { 'class': 'with-borders'}}) }}
                {% endif %}
                {% if not ibexa_field_is_empty(content,'course_outline_text') %}
                    {{ ibexa_render_field(content, 'course_outline_text', { 'attr': { 'class': 'with-borders'}}) }}
                {% endif %}
                <p>* {{ 'Targeted competencies refer to the established course competencies listed above.' | trans }}</p>
                <p class="text-center font-weight-bold header-color" style="text-decoration:underline">{{ 'This schedule is subject to change' | trans }}</p>
            </div>
        </section>
    </article>
{% endblock %}
