{% extends "@ibexadesign/document.html.twig" %}
{% block content %}
    <article class="container syllabus">
        <section class="syllabus-header">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="align-middle text-center">
                            <img src="{{ asset("assets/images/ncc-logo.png") }}" class="img-fluid" style="height:125px" alt="NCC logo">
                        </th>
                        <th class="align-middle text-center">
                            <h1>
                                {{ ibexa_render_field(course, 'course_number') }} {{ ibexa_render_field(content, 'section') }}<br>
                                <small>{{ ibexa_render_field(course, 'course_title') }}</small><br>
                            </h1>
			</th>
			<th class="align-middle text-center">
                            {{ termAndYear }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            {{ 'Department' | trans }}
                        </th>
                        <td colspan="2">
                            {{ render_esi(controller('ibexa_content:viewAction', {locationId: departmentId, viewType: 'line'} )) }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Instructor' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'instructor') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'NCC Email' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'email') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Telephone Number' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'phone') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Office Hours' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'office_hours') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Office Location' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'office_location') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Class Days/Meeting Time' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'class_days_meeting_time') }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Class Location' | trans }}
                        </th>
                        <td colspan="2">
                            {{ ibexa_render_field(content, 'class_location') }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Rationale' | trans }}</h2>
                {{ ibexa_render_field(content, 'rationale') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Course Description' | trans }}</h2>
                {{ ibexa_render_field(course, 'catalog_description') }}
            </div>
        </section>
        <section class="course-competencies row my-3">
            <div class="col">
                <h2>{{ 'Course Competencies' | trans }}</h2>
                {{ ibexa_render_field(course, 'course_competencies', { 'attr': { 'class': 'with-borders'}}) }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Essential Questions' | trans }}</h2>
                {{ ibexa_render_field(content, 'essential_questions') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Required Materials' | trans }}</h2>
                {{ ibexa_render_field(content, 'required_materials') }}
                {{ ibexa_render_field(bookstore, 'body') }}
                <h2>{{  'Technology' | trans }}</h2>
                {{ ibexa_render_field(technology, 'body') }}
                {% if not ibexa_field_is_empty(content,'supplemental_materials') %}
                    <h2>{{ 'Supplemental Materials' | trans }}</h2>
                    {{ ibexa_render_field(content, 'supplemental_materials') }}
                {% endif %}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Course Expectations' | trans }}</h2>
                {{ ibexa_render_field(content, 'course_expectations') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2>{{ 'Grading' | trans }}</h2>
                {{ ibexa_render_field(content, 'grading') }}
                {{ ibexa_render_field(gradingScheme, 'body') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2 class="policies">{{ 'Available Support Services' | trans }}</h2>
                {{ ibexa_render_field(availableSupportServices, 'body') }}
            </div>
        </section>

        <section class="row my-3">
            <div class="col">
                <h2 class="policies">{{ 'Department Policies' | trans }}</h2>
                {{ ibexa_render_field(departmentPolicies, 'body') }}
            </div>
        </section>
        <section class="row my-3">
            <div class="col">
                <h2 class="policies">{{ 'College Policies' | trans }}</h2>
                {{ ibexa_render_field(collegePolicies, 'body') }}
            </div>
        </section>
        <section class="course-calendar row my-3">
            <div class="col">
                <h2 class="text-center" style="text-decoration:underline;">
                    {{ 'Course Calendar' | trans }}<br>
                    {{ ibexa_render_field(course, 'course_number') }}&nbsp;{{ ibexa_render_field(content, 'section') }}&nbsp;
                    {{ ibexa_render_field(course, 'course_title') }}&nbsp;{{ termAndYear }}
                </h2>
                {{ ibexa_render_field(content, 'course_calendar', { 'attr': { 'class': 'with-borders'}}) }}
                <p>* {{ 'Targeted competencies refer to the established course competencies listed above.' | trans }}</p>
                <p class="text-center font-weight-bold header-color" style="text-decoration:underline">{{ 'This schedule is subject to change' | trans }}</p>
            </div>
        </section>
    </article>
{% endblock %}
